.homepage .mission-statement {
	height: 650px;
	background: linear-gradient(#262626,#151515);
}

.homepage .mission-statement .inner {
	top: 175px;
}

.homepage .row h1, .homepage .set-width {
	font-size: 55px;
	color:white;
	display:flex;
	justify-content: center;
}

.homepage .set-width {
	min-width: 420px;
}

.homepage .company-offer {
	min-height: 360px;
	background-color: #E5E5E5;
}