.homepage .mission-statement {
	height: 640px;
}

.homepage .row.mission-statement h1 {
	color:white;
	display:flex;
	justify-content: center;
}

.homepage .row.mission-statement .left h1 {
	display: flex;
	justify-content: flex-end;
}

.homepage .row.mission-statement .right h1 {
	display: flex;
	justify-content: flex-start;
}

.homepage .row.mission-statement .right {
	float:none;
}

.homepage .company-offer {
	min-height: 360px;
	background-color: #E5E5E5;
}

.fullscreen-bg {
	height: 0px;
    z-index: -100;
    padding-left: 0;
    padding-right: 0;
}

.fullscreen-bg_video {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
}

