.header.container-fluid {
	margin-bottom: 0px;
	background-color: #151515;
}

.header .logo  {
	display:flex;
	justify-content: center;
}

.header .logo img {
	width:200px;
}

.break {
	border-style:inset;
	margin-top: 85px;
}

.header .row.logo div {
	height: 130px;
}

.row.header-nav .nav {
	margin-bottom: 10px;
	display:flex;
	justify-content: flex-end;
	
}

.header-nav a {
	margin: 10px 15px 10px 0px;
	display:box;
	font-size: 20px;
	color: #BD631E; 
	font-family: Montserrat,sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header-nav a:hover {
	text-decoration: none;
	background-color: #404040; 
}