.header-top {
	background-color: #5B5B5C;
}

.header-top p {
	display:flex;
	justify-content: flex-end;
	color:white;
	font-size:15px;
	margin-top: 5px;
}

.header.jumbotron {
	margin-bottom: 0px;
}

.header .logo  {
	display:flex;
	justify-content: center;
}

.header .logo img {
	width:250px;
}

.break {
	border-style:inset;
	margin-top: 5px;
}

.header .row.logo div {
	height: 190px;
	margin-bottom:15px;
}

.header-nav .row {
	display:flex;
	justify-content: space-between;	
}

.header-nav a {
	font-size: 25px;
}