.header.container-fluid {
	margin-bottom: 0px;
	background-color: #151515;
}

.header .logo  {
	display:flex;
	justify-content: center;
}

.header .logo img {
	width:200px;
}

.break {
	border-style:inset;
	margin-top: 85px;
}

.header .row.logo div {
	height: 130px;
}

.row.header-nav .nav {
	margin-bottom: 10px;
	display:flex;
	justify-content: space-evenly;	
	align-content: center;
}

.header-nav a {
	font-size: 20px;
	min-width: 70px;
	color: #BD631E; 
}