body {
	font-family: Montserrat,sans-serif;
}

a {
	color: #BD631E;
}

a:hover {
	text-decoration: none;
	color: #BD631E; 
	background-color: #404040; 
}

a:visited {
	color: #BD631E; 
}

a:focus {
	text-decoration: none;
	color: #BD631E; 
}

.hide {
	display: none;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 2rem;
  }
}